@import "tailwindcss";

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Variable.woff2") format("woff2");
    font-display: swap;
}

@theme {
    --font-title: "Satoshi", sans-serif;
    --font-sans: "Geist", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #edeeff;
}

body {
    font-family: "Satoshi", sans-serif;
}
