@import "tailwindcss";

@theme inline {
    --font-title: var(--font-poppins);
    --font-sans: var(--font-inter);
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #edeeff;
}

body {
    font-family: var(--font-inter);
	letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-poppins);
}
